* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  background-color: rgb(34, 34, 34);
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  color: #858585;
  height: 90px;
}

.logo {
  font-weight: bold;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
nav >ul>li:hover{
    cursor: pointer;
    border-bottom: 1px solid #cc9966;
    color: #cc9966;
    transition: color 0.3s ease;
}

.button button {
  display: flex;
  color: #f9f3ec;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 8px 16px;
  background-color: #cc9966;
  cursor: pointer;
}
.button button:hover {
  color: #cc9966;
  background-color: white;
}
.cart-icon {
  width: 28px;
  height: 28px;
  color: white;              /* default color */
  transition: color 0.3s ease;
}

.cart-icon .cls-1 {
  stroke: currentColor;      /*key line*/
}

.button:hover .cart-icon {
  color: #cc9966;
}
