<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="ecom.css" />
  </head>
  <body>
    <section class="hero">
      <nav>
          <span class="logo">logo</span>
        <ul>
          <li><a href="">DEMOS</a></li>
          <li><a href="">FEATURES</a></li>
          <li><a href="">SUPPORT</a></li>
          <li><a href="">REVIEWS</a></li>
        </ul>
        <span class="button"><button ><svg width="64px" height="64px" viewBox="0 0 24 24"  xmlns="http://www.w3.org/2000/svg" fill="#f9f3ec" class="cart-icon"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <defs> </defs> <g id="cart"> <circle class="cls-1" cx="10.07" cy="20.59" r="1.91"></circle> <circle class="cls-1" cx="18.66" cy="20.59" r="1.91"></circle> <path class="cls-1" d="M.52,1.5H3.18a2.87,2.87,0,0,1,2.74,2L9.11,13.91H8.64A2.39,2.39,0,0,0,6.25,16.3h0a2.39,2.39,0,0,0,2.39,2.38h10"></path> <polyline class="cls-1" points="7.21 5.32 22.48 5.32 22.48 7.23 20.57 13.91 9.11 13.91"></polyline> </g> </g></svg>Buy Molla</button></span>
      </nav>
    </section>
  </body>
</html>
